@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <p>
       Singleton: @ViewBag.Singleton
   </p>
    <p>
        Scoped: @ViewBag.Scoped
    </p>
    <p>
        Transient: @ViewBag.Transient
    </p>

    <hr />
    <h3>Scoped Guid</h3>
    <p>
       Singleton: @ViewBag.ScopedSingleton
   </p>
    <p>
        Scoped: @ViewBag.ScopedScoped
    </p>
    <p>
        Transient: @ViewBag.ScopedTransient
    </p>
</div>
